* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  line-height: 1.6;
  background-color: #2f4f4f;
  animation: fadeInUp 1s ease-out;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0d0d0e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 1s;
  padding: 10px 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, outline-color 0.3s ease;
}

.navbar ul li a:hover{
  color: #ffffff;
  background-color: #124a4a;
  outline: 2px solid #124a4a;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  color: rgb(0, 0, 0);
  transition: text-shadow 0.3s ease;
}

#source h1 { 
  color: white;
  margin: 0;
  font-size: 2.5rem;
  border-bottom: 2px solid #a4b9b9;
  padding-bottom: 6px;
  display: inline-block;
  margin-bottom: 20px;
}

#source h1:hover { 
  color: #ffffff;
  transform: scale(1.1);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
}

#source { 
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  gap: 20px;
  background-color: #171717;
  color: rgb(249, 249, 249);
  height: 100vh;
  position: relative;
}

#source .conteudo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.textoCima {
  margin-bottom: 10px;
  text-align: left;
  opacity: 0.8;
  font-size: 1.5rem;
  color: #0bafaf;
}

.titulo { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.configuracaoImagem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  transition: box-shadow 0.3s ease-in-out;
}

.configuracaoImagem img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
}

.configuracaoImagem:hover{ 
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.9);
}

#sobre { 
  background-color: #ffffff;
  color: white;
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
  max-width: 1200px;
  margin: 40px auto;
  border: none;
  height: 60vh;
  margin-top: 60px;
}

#sobre h2 { 
  color: rgb(0, 0, 0);
  background-color: #ffffff;;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.sobreTexto {
  background-color: #ffffff;;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 30vh;
  font-size: 1.4rem;
}

.sobreTexto p {
  max-width: 900px;
  word-wrap: break-word;
  margin: 0 auto;
  text-align: justify;
}

.sobreTexto a { 
  text-decoration: none;
  color: #0d0d0e;
  font-weight: bold;
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.6s, color 0.3s;
}

.sobreTexto a:hover {
  background-color: #124a4a;
  color: white;
}

footer { 
  background-color: white;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  margin-top: 50px;
  bottom: 0;
  left: 0;
}

#objetivo { 
  color: white;
  padding: 40px 20px;
  margin: 40px auto;
  margin-top: 120px;
  border-radius: 8px;
  max-width: 900px;
  /* background-color: #ffffff; */
  text-align: center;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#objetivo h2 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.objetivoTexto {
  font-size: 1.4rem;
  line-height: 1.6;
  max-width: 80%;
  margin: 0 auto;
}