* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  line-height: 1.6;
  background-color: #2f4f4f;
}

/* navbar */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 8vh;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
}

/* animacoes navbar */

.navbar ul li a:hover {
  color: #ffffff;
  background-color: #124a4a;
  outline: 2px solid #124a4a;
  transform: translateY(-3px);
}

.navbar ul li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #124a4a;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.navbar ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Abrir menu na lateral (celulares) */

.mobile-menu {
  display: none;
  position: fixed;
  top: 8vh;
  right: -250px;
  width: 250px;
  height: 92vh;
  background-color: #121212;
  z-index: 1001;
  transition: right 0.3s ease-in-out;
  padding: 20px;
}

.mobile-menu.open {
  right: 0;
  display: block;
}

.mobile-menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mobile-menu ul li {
  margin: 15px 0;
  position: relative;
}

.mobile-menu ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 12px 0;
  display: block;
  position: relative;
  transition: background-color 0.3s;
}

/* animacoes menulateral */

.mobile-menu ul li a:hover {
  background-color: #124a4a;
}

.mobile-menu ul li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #124a4a;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.mobile-menu ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.mobile-menu-icon {
  display: none;
  z-index: 1100;
  position: absolute;
  right: 20px;
}

.mobile-menu-icon button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-menu-icon img {
  width: 36px;
  height: 36px;
}

/* responsividade navbar */

@media (max-width: 768px) {
  .navbar ul { 
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu{
    display: block;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    right: 20px;
  }
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  color: rgb(0, 0, 0);
  transition: text-shadow 0.3s ease;
}

/* homePage */

#source h1 { 
  color: white;
  margin: 0;
  font-size: 2.5rem;
  border-bottom: 2px solid #a4b9b9;
  padding-bottom: 6px;
  display: inline-block;
  margin-bottom: 20px;
}

#source h1:hover { 
  color: #ffffff;
  transform: scale(1.1);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
}

#source { 
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  gap: 20px;
  background-color: #171717;
  color: rgb(249, 249, 249);
  min-height: 100vh;
  position: relative;
}

#source .conteudo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.textoCima {
  margin-bottom: 10px;
  text-align: left;
  opacity: 0.8;
  font-size: 1.5rem;
  color: #52e1b1;
}

.titulo { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.configuracaoImagem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  transition: box-shadow 0.3s ease-in-out;
}

.configuracaoImagem img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
}

.configuracaoImagem:hover { 
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.9);
}

/* sobre */

#sobre { 
  background-color: #ffffff;
  color: white;
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
  max-width: 1200px;
  margin: 40px auto;
  border: none;
  min-height: auto;
  margin-top: 100px;
}

#sobre h2 { 
  color: rgb(0, 0, 0);
  background-color: #ffffff;;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.sobreTexto {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  font-size: 1.4rem;
}

.sobreTexto p {
  max-width: 900px;
  word-wrap: break-word;
  margin: 0 auto;
  text-align: justify;
}

.sobreTexto a { 
  text-decoration: none;
  color: #0d0d0e;
  font-weight: bold;
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.6s, color 0.3s;
}

.sobreTexto a:hover {
  background-color: #124a4a;
  color: white;
}

/* objetivo */

#objetivo { 
  color: white;
  padding: 40px 20px;
  margin: 40px auto;
  margin-top: 120px;
  border-radius: 8px;
  max-width: 900px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  margin-bottom: 100px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #2f4f4f;
}

#objetivo h2 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.objetivoTexto {
  font-size: 1.4rem;
  line-height: 1.6;
  max-width: 80%;
  margin: 0 auto;
}

/* contato */

#contato {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: transparent; 
  border-radius: 10px;
  margin-top: 0px;
}

.tituloContato {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 100px;
  border-bottom: 2px solid #71bdbd;
  padding-bottom: 6px;
  color: #ffffff;
  font-size: 2rem;
  width: 100%;
}

.formContainer { 
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #171717
}

input[type="text"],
input[type="email"],
textarea { 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
} 

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #007BFF;
    outline: none;
}

textarea {
    resize: vertical;
}

input[type="submit"] { 
  background-color: #1d7b7b;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 1s;
} 

input[type="submit"]:hover {
    background-color: #1a4545;;
}

#source, #sobre, #objetivo, #contato {
  scroll-margin-top: 100px;
}

/* footer */

footer { 
  background: linear-gradient(135deg, #0d0d0e, #124a4a);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
  bottom: 0;
  left: 0;
}

html {
   scroll-behavior: smooth; /*quando clicar num menu rolar a pag suave. */
}

/* ajuste para celulares */

@media (max-width: 768px) {
  #source, #sobre, #objetivo, #contato {
    scroll-margin-top: 120px;
  }
}


